<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Done?</th>
            <th>Info</th>
            <th>Notified?</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <tr ng-repeat="party in vm.parties"> <!-- like a for loop, party is a temporary variable --> 
        <td>
            <input ng-model="party.done" ng-change="vm.toggleDone(party)" type="checkbox"> <!-- ng-change runs the function when theres a change in value-->
        </td>
        <td>
            <div><strong>{{ party.name }} {{ party.size }} people</strong></div>
            <div>{{ party.phone }}</div>
        </td>
        <td>
            <div>{{ party.notified ? 'Yes' : 'No'}}</div>
        </td>
        <td>
            <button ng-click="vm.sendTextMessage(party)" class="btn btn-success">Send SMS</button>
            <button ng-click="vm.removeParty(party)" class="btn btn-danger">Remove</button>
        </td>
    </tr> 
</table>